!!!
%html
  %head
    - title = @title ? @title : "Mailpile | Community Voting Platform"
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title= title
    <!--[if lt IE 9]><script type="text/javascript" src="/assets/lib/excanvas.js"></script><![endif]-->
    = stylesheet_link_tag    "frontpage"
    = csrf_meta_tags
    = render 'social_metadata', description: @meta_description, title: @meta_title

  %body{class: "#{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'
    .container.home-flash
      = render 'flash_messages', :flash => flash

    .container#top
      .inner-container
        .row-fluid
          .pull-right
            - unless current_page? new_user_session_path
              =link_to t(:'devise.sessions.sign_in'), new_user_session_path, class: 'btn btn-info'

          .span11
            =link_to image_tag("mailpile-logo-text-public.png"), "/"

    = yield

    = render 'footer_logged_out'
    = javascript_include_tag "frontpage"
    = javascript_include_tag 'https://browserid.org/include.js'
    - analytics_scope do
      = render 'segmentio'
